body{
    background-color: black;
    margin: 0px; 
}

/* HEADER */
header.header {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 7px;
    grid-template-areas:
        "logo logo logo"
        "inicio buscar cuenta"
        "estrenos peliculas series";
    padding-bottom: 5px 0px;
    box-sizing: border-box;
    background-color: #1d1d1d;
}

#logo a img {
    width: 100%;
}

/* Establecer area grid */
#logo {
    grid-area: logo;
    background-color: #0f0f0f;
}
#inicio {
    grid-area: inicio;
}
#buscar {
    grid-area: buscar;
}
#cuenta {
    grid-area: cuenta;
}
#peliculas {
    grid-area: peliculas;
    padding-left: 6vw;
} 
#series {
    grid-area: series;
    padding-left: 2vw;
}
#estrenos {
    grid-area: estrenos;
    padding-left: 5vw;
}

/* Texto hipervínculos */
#logo a, #inicio a, #buscar a, #cuenta a, #peliculas a, #series a, #estrenos a {
    color: white;
    text-decoration: none;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
    font-family: Helvetica;
    font-size: 1.2rem;
    padding: 0px 5px 0px 5px;  
}
#peliculas a, #series a, #estrenos a {
    font-family: Bebas Neue;
    color: red;
    font-size: 2rem;
}

/* Iconos menú */
header div img {
    width: 30px;
    padding: 5px 5px 5px 0px;
}
header div#buscar img {
    padding-top: 7px;
}

#peliculas, #series, #estrenos {
    padding-bottom: 8px;
}
/* Ocultar barra buscadora */
header div#buscar .uk-search-default {
    display: none;
}

/* DETALLES DE PELICULA/SERIE */

section.detalleInfo {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
}

section.detalleInfo img {
    width: 100%;
    height: 100%;
}

section.detalleInfo div.info {
    justify-content: center;
    align-items: center;
    width: 100%;
}

section.detalleInfo div.info h2 {
    margin: 0%;
    padding: 10px 0px ;
    font-size: 30px;
    color: white;
    font-family: helvetica;
}
 /* El color del corazón (click) */

 .grey {
    color: #999;
}

.red {
    color: red;
}



/* ---------------------------------------------- */
section.detalleInfo div.info h5 {
    margin: 0%;
    font-weight: bold;
    color: red;
    font-family: helvetica;
}

section.detalle ul#pri {
    font-size: 15px;
    font-family: helvetica;

}

section.detalleInfo ul.seg {
    font-size: 15px;
    font-family: helvetica;

    margin: 0%;
    padding: 0%;
}

section.detalleInfo p {
    font-family: helvetica;

}

/* REVIEWS */

div.reviews {
    padding: 0px 30px 30px 30px;
}

div.reviews h2 {
    font-family: helvetica;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin: 0%;
    padding: 20px 0px 20px;
}

div.reviews div.todaslasreseñas article#reseña {
    background-color: rgb(8, 8, 8);
    padding: 30px;
    margin: 0px 0px 30px;
}

div.reviews div.todaslasreseñas article#reseña h4 {
    color: red;
}

/* DETALLE DE GÉNERO */
section.detalleGenero {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
}

section.detalleGenero h2 {
    padding: 10px;
    font-family: helvetica;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin: 0%;

}

section.detalleGenero div.imagenesGeneros {
    flex-wrap: wrap;
    align-items: center;
}

section.detalleGenero div.imagenesGeneros img {
    width: 115px;
    height: 162px;
    padding: 10px;
}


/* FOOTER */ 
article.footer-arriba {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    justify-content: space-between;
    padding: 0% 3% 0% 3%;
}

div.piedepagina {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px 20px 0px 30px;
}

div.piedepagina a {
    color: grey;
    font-size: 12px;
    text-decoration: none;
    font-family: Helvetica;
    padding: 5px;
    margin: 0px;
}

div.redes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; 
    padding: 20px 0px 10px 0px;
}

div.logos {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: 5px;
}

div.logos img {
    width: 20px;
}

div.volver-inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 10px 0px;
}

div.autores {
    display: flex;
    justify-content: center;
    padding: 0px 0px 20px 0px;
}

div.autores a {
    margin: 0px;
    padding: 5px;
    color: grey;
    font-size: 12px;
    font-family: Helvetica;
    text-decoration: none;
    font-weight: bold;
}

hr.linea {
    color: grey;
    border-color: grey;
    margin: 0%;
    margin-top: 70px;
}


/* DESKTOP ----------------------------------------------------- */
@media only screen and (min-width: 1024px) {
    
    /* HEADER */
    header.header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px;
        background-color: transparent;
    }

    #logo {
        width: 20%;
        background-color: transparent;
    }
    #logo a {
        padding: 0px;
    }
    #logo a img {
        padding: 0px;
    }

    /* Texto hipervínculos */
    #logo a, #inicio a, #buscar a, #cuenta a, #peliculas a, #series a, #estrenos a {
        color: white;
        font-family: Helvetica;
        font-size: 1rem;

    }
    /* Iconos menú */
    header.header div img {
        width: 25px;
        padding: 5px 0px 5px 0px;
        margin-right: 5px;
    }

    /* Mostrar barra buscadora */
    header.header div#buscar .uk-search-default {
        display: flex;
        width: 11rem;
    }
    header.header div#buscar .uk-search-input {
        border: 0.5px solid rgba(255, 255, 255, 0.76);
        background-color: black;
    }
    
    #buscar {
        width: 23vw;
        display: flex;
        justify-content: center;
        padding-left: 1vw;
    }
    
    #buscar a span {
        display: none;
    }
    
    #peliculas, #series, #estrenos {
        padding-bottom: 0px;
        padding-left: 0px;
    }
    #estrenos {
        padding-left: 5.5vw;
    }

    #cuenta {
        padding-right: 2vw;
    }

    /* DETALLES DE PELICULA/SERIE */

    section.detalleInfo {
        display: flex;
        flex-wrap: wrap;
        padding: 20px 100px 10px 100px;
    }
    
    section.detalleInfo img {
        width: 20%;
        height: 20%;
        padding: 0px 30px 30px 0px;
    }
    
    section.detalleInfo div.info {
        justify-content: center;
        align-items: center;
        width: 80%;
    }
    
    section.detalleInfo div.info h2 {
        margin: 0%;
        font-size: 30px;
        color: white;
        font-family: helvetica;
        padding: 0px 0px 10px 0px;
    }
    
    section.detalleInfo div.info a.idGenero {
        margin: 0%;
        font-weight: bold;
        color: red;
        font-family: helvetica;
        padding: 0px 0px 15px 0px;
    }
    
    section.detalleInfo ul#pri {
        font-size: 15px;
        font-family: helvetica;
        padding: 0px 0px 15px 0px;
    }
    
    section.detalleInfo ul.seg {
        font-size: 15px;
        font-family: helvetica;
        margin: 0%;
        padding: 0px 0px 15px 0px;
    }
    
    section.detalleInfo p {
        font-family: helvetica;
        padding: 0px 0px 15px 0px;
    }

    /* REVIEWS */

    div.reviews {
        padding: 10px 100px 10px 100px;
    }

    /* DETALLE DE GÉNERO */
    section.detalleGenero {
        display: flex;
        padding: 10px 100px 10px 100px;
        
    }

    section.detalleGenero div.imagenesGeneros {
        flex-wrap: wrap;
        align-items: center;
    }

    section.detalleGenero div.imagenesGeneros img {
    width: 183px;
    height: 265px;
    padding: 10px;
    }

    /* FOOTER */
    article.footer-arriba {
        grid-template-columns: 50% 10% 40%;
        justify-content: space-between;
    }

    div.piedepagina {
        display: flex;
        flex-direction: row;
        padding: 0px;
        justify-content: space-around;
    }

    div.autores {
        padding: 0px 0px 20px 0px;
    }

    div.redes {
        display: flex;
        justify-content: flex-end;
        padding: 20px 0px 10px 0px;
        gap: 70px;
    }

    div.volver-inicio {
        padding: 10px 0px 10px 0px;
        margin-right: 70px;
    }
   
    div.logos {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 70px;
    }

    div.logos img {
    width: 25px;
    }
    
  
}