body{
    background-color: black;
    margin: 0px;
}

header {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.encabezado img{
    display: flex;
    width: 100%;
    justify-content: center;
}

nav.header_nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 5px;
    background-color: rgb(36, 35, 35);
    gap:10px;
    justify-content: center;
    flex-wrap: wrap;
}

div.iconos {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 5px;
}

div.iconos a {
    color: white;
    font-family: Helvetica;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
}

img.icono {
    width: 25px;
}

div.barra-buscadora {
    display: none;
}

div.listado {
    display: flex;
    justify-content: space-around;
    padding-bottom: 5px;
    font-size: 30px;
}

nav.header_nav div.listado a {
    font-family: Bebas Neue;
    color: #e7442e;
    text-decoration: none;
    font-size: 30px;
}

span.cuenta-desktop {
    display: none;
}

.listas {
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    justify-content: center;
    padding: 5px;
    gap: 10px;
}

.listas-originales {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
    gap: 3px;
}

img.portada {
    width: 118px;
    height: 175px;
    padding: 5px 0px 5px 0px; 
}

img.portada-original {
    width: 100px;
    padding: 5px 0px 5px 0px;
}

div.listas-originales a#oculto {
    display: none;
}

h2.titulo{
    color: white;
    font-weight: bold;
    text-align: left;
    font-size: 25px;
    padding: 25px 0px 0px 10px;
    font-family: Helvetica;
}

h3{
    color: rgb(209,209,209);
    text-align: left;
    font-size: 20px;
    font-family: Helvetica;
    margin-left: 10px;
}

/* FOOTER*/
article.footer-arriba {
    display: flex;
    justify-content: space-between;
    padding: 0% 3.5% 0% 3%;
}

div.piedepagina {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 30px 0px 20px 0px;
}

div.piedepagina a {
    color: grey;
    font-size: 12px;
    text-decoration: none;
    font-family: Helvetica;
    padding: 5px;
    margin: 0px;
}

div.redes {
    display: flex;
    flex-direction: row;
    width: 35%;
    justify-content: space-between;
    align-items: center; 
    padding: 30px 0px 20px 0px;
}

img.red {
    width: 25px;
}

div.autores {
    display: flex;
    justify-content: center;
    padding: 0px 0px 30px 0px;
}

div.autores a {
    margin: 0px;
    padding: 5px;
    color: grey;
    font-size: 12px;
    font-family: Helvetica;
    text-decoration: none;
    font-weight: bold;
}


/*Desktop*/
@media only screen and (min-width:1024px){
    header.header {
        width: 100%;
        flex-wrap: wrap;
    }
    
    article.encabezado {
        width: 20%;
    }
    
    nav.header_nav {
        width: 80%;
        padding: 0px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin: 0px;
        justify-content: center;
        gap: 91px;
        background-color: transparent;
    }

    nav.header_nav div.iconos {
        width: 44%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        margin: 0px;
        align-items: center;
        padding-left: 20px;
    }

    div.iconos span.buscar {
        order: -1;
        display: flex;
        gap: 10px;
        align-items: center;
    }

    div.iconos span.buscar div.barra-buscadora {
        display: flex;
        width: 170px;
        height: 17px;
        border: 1px solid white;
    }

    div.iconos span.inicio {
        padding-left: 10px;
    }
    
    div.iconos span.cuenta {
        display: none;
    }

    div.listado {
        display: flex;
        flex-wrap: wrap;
        width: 40%;
        justify-content: space-between;
        font-size: 16px;
        gap: 20px;
        padding: 0px 20px 0px 0px;
        font-family: Helvetica;
        align-items: center;
        margin: 0px;
    }
    
    div.listado span.estrenos a, div.listado span.peliculas a, div.listado span.series a, div.listado span.cuenta-desktop a{
        font-size: 16px;
        font-family: Helvetica;
        color: white;
    }

    div.listado span.cuenta-desktop {
        display: flex;
    }

    div.listado span.cuenta-desktop a{
        color: white;
        font-family: Helvetica;
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 5px;
    }

    div.listado span.cuenta-desktop a img{
        width: 25px;
    }

    .listas {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 0px;
        padding: 5px 0px 5px 0px;
    }

    img.portada {
        width: 147px;
        height: 204px; 
    }

    article.footer-arriba {
        display: flex;
        justify-content: space-between;
        padding: 0% 2.5% 0% 2.5%;
    }

    div.piedepagina {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding: 40px 0px 30px 0px;
        gap: 70px;
        color: grey;
    }

    div.redes {
        display: flex;
        width: 20%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center; 
        padding: 40px 0px 30px 0px;
    }

}