body{
    background-color: black;
}



    
/* BANNER*/
    /* Opacidad del banner */
    .bannerImg img {
        opacity: 35%;
    }
    /* Flechitas */
    a#flechita {
        color: white;
        font-weight: bold;
    }
    /* Títulos */
    div#titulosBanner {
        padding-top: 20%;
    }
    #titulo-banner{
        color: #e7442e;
        font-size: 1rem;
        text-align: left;
        margin: 0px;
        font-weight: bold;
    } 
    #titulo-pelicula {
        text-align: left;
        font-weight: bold;
        font-size: 1.5rem;
    }

/* LISTAS (no mostrar en mobile) */
div.misListas {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
    /* Título "Mis listas" */
    div.misListas h2 {
        display: flex;
        width: 100%;
        justify-content: center;
        font-family: Helvetica;
        color: white;
        font-size: 20px;
        margin: 30px 0px 15px 0px;
    }
    /* Contenedor de listas */
    div.misListas div.listas {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        padding: 0px 15px 15px 15px;
        justify-content: space-around; 
        align-items: center;   
    }
    /* Contenedor de cada lista */
    div.misListas div.listas a {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        text-decoration: none;
    }
    /* Tamaño imágenes listas */
    div.misListas div.listas a img {
        width: 140px;
        margin: 0px;
    }
    /* Títulos de listas */
    div.misListas div.listas a h5 {
        margin: 0px 0px 20px 0px ;
        padding-top: 5px;
        font-size: 15px;
        font-family: Helvetica;
        color: rgb(209, 209, 209);
        font-weight: lighter;
    }
    /* Crear nueva lista */
    div.misListas div.listas a.crearNuevaLista {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 60%;
    }
        /* Imagen "+" */
        div.misListas div.listas a.crearNuevaLista img {
            width: 30px;
        }
        /* Texto */
        div.misListas div.listas a.crearNuevaLista h5 {
            margin: 0px;
            padding: 5px;
        }

/* MÁS VISTAS */
        /* Título "Más vistas" */
        div.masVistas h2.tituloMasVistas {
            display: flex;
            width: 100%;
            justify-content: center;
            font-family: Helvetica;
            color: white;
            font-size: 20px;
            margin: 30px 0px 0px 0px;
        }
        /* Título "Películas" y "Series"*/
        div.masVistas h3{
            margin-bottom: 0px;
            padding-left: 15px;
            font-size: 18px;
            font-family: Helvetica;
            text-align: left;
            color: rgb(209, 209, 209);  
        }
        /* Contenedor todas las películas y contenedor de todas las series */
        div.masVistas div.peliculas, div.masVistas div.series {
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            justify-content: center;
            gap: 10px;
        }
        /* Contenedor de cada película y de cada serie */
        div.masVistas div.peliculas a, div.masVistas div.series a {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            text-decoration: none;
        }
        /* Imágenes películas y series */
        div.masVistas a img {
            width: 118px;
            height: 175px;
            padding: 5px 0px 5px 0px;
        }
       
/* FOOTER */
    /* Footer arriba (legales y redes) */
    footer div.footer-arriba {
        display: grid;
        grid-template-columns: 2fr 1fr 2fr;
        justify-content: space-between;
        padding: 0% 3% 0% 3%;
    }
        /* Legales */
        footer div.legales {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            padding: 30px 0px 20px 0px;
        }
            /* Texto hipervínculo legales */
            footer div.legales a {
                margin: 0px;
                padding: 5px;
                color: grey;
                font-size: 12px;
                font-family: Helvetica;
                text-decoration: none;
            }
        /* Redes */
        footer div.redes {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            padding: 30px 0px 20px 0px;
        }
    
        /* Volver a arriba */
            div.volver-inicio {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 30px 0px 20px 0px;
            }

            div.volver-inicio a img {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 25px;
                height: 20x;
            }
    

    /* Nombres alumnas */
    footer div.nombres-alumnas {
        display: flex;
        justify-content: center;
        padding: 0px 0px 30px 0px;
    }
        /* Texto hipervínculo de los nombres */
        footer div.nombres-alumnas a {
            margin: 0px;
            padding: 5px;
            color: grey;
            font-size: 12px;
            font-family: Helvetica;
            text-decoration: none;
            font-weight: bold;
        }

/* DESKTOP ----------------------------------------------------- */
@media only screen and (min-width: 1024px) {

/* HEADER */
    header {
        position: fixed;
        width: 100%;
    }
    header ul{
        display: grid;
        width: 100%;
        height: 80px;
        grid-template-columns: 15% 5% 6% 4.5% 3.5% 55% 6%;
        grid-gap: 7px;
        grid-template-areas: "logo inicio pelis series favs buscar cuenta";
        box-sizing: border-box;
        background-color: rgba(0, 0, 0, 0.4);
        margin: 0px;
        padding: 0% 2%;
        align-items: center;
        
    }

    header ul li {
        display: flex;
        justify-content: flex-end;
    }

    header ul li a {
        font-family: Helvetica;
        font-weight: lighter;
        color: white;
        text-decoration: none;
    }

    /* Asignación área */
    #logo {
        grid-area: logo;
    }
    #inicio {
        grid-area: inicio;
    }
    #peliculas {
        grid-area: pelis;
    }
    #series {
        grid-area: series;
    }
    #favs {
        grid-area: favs;
        color: white;
    }
    #buscar {
        grid-area: buscar;
        color: white;
    }
    #cuenta {
        grid-area: cuenta;
        color: white;
    }

 
/* BANNER */
    /* Títulos Banner */
    div#titulosBanner {
        padding-top: 26%;
    }
        #titulo-banner{
            font-size: 2rem;
        } 
        #titulo-pelicula {
            font-size: 3rem;
        }

/* CARRUSEL */

div.carrusel {
    padding: 15px;
}

div.carrusel ul#holi {
    gap: 25px;
}
/* preguntar como modificar librerias tienen class largos, como modif las flechitas */
div.carrusel ul#holi a.uk-slidenav {
    color: white;
}

div.misListas {
    
    display: flex;
    flex-wrap: wrap;
}

div.misListas h3 {
    font-family: Helvetica;
    color: white;
    font-size: 30px;
}

/* LISTAS */
    /* Título "Mis listas" */
    div.misListas h2.tituloMisListas {
        justify-content: flex-start;
        padding-left: 54px;
        font-size: 30px;
    }
    /* Tamaño imágenes listas */
    div.misListas div.listas a img {
        width: 180px;
    }

    /* MEJORES CALIFICADAS */

    div.mejoresCalificadas {
        display: grid;
        grid-template-rows: 1fr 5fr;

    }

    div.mejoresCalificadas h2 {
        margin: 0px;
        font-family: Helvetica;
        color: white;
        font-size: 30px;
        padding: 20px;
        padding-left: 54px;
    }

    div.mejoresCalificadas .pelisyseries {
        display: grid;
        grid-template-columns: 50% 50%;

    }

    div.mejoresCalificadas .pelisyseries a {
        padding: 10px;
    }

    div.mejoresCalificadas .pelisyseries img {
        width: 70px;
    }

    div.mejoresCalificadas .pelisyseries h4 {
        font-size: 14px;
        width: 121px;
    }

    div.mejoresCalificadas .pelisyseries .califPelis {
        display: flex;
        flex-wrap: wrap;
        margin: 8px;
        /* background-color: rgba(255, 255, 255, 0.185); */
    }

    div.mejoresCalificadas .pelisyseries .califPelis h2 {
        width: 100%;
        font-size: 20px;
        text-align: center;
    }

    div.mejoresCalificadas .pelisyseries .califSeries {
        display: flex;
        flex-wrap: wrap;
        margin: 8px;
        /* background-color: rgba(255, 255, 255, 0.185); */
    }

    div.mejoresCalificadas .pelisyseries .califSeries h2 {
        width: 100%;
        font-size: 20px;
        text-align: center;
    }

/* MÁS VISTAS */
    div.masVistas h2.tituloMasVistas {
        justify-content: flex-start;
        padding: 0px 0px 10px 40px;
    }

    div.masVistas div.peliculas, div.masVistas div.series {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 5px 0px 5px 0px;
    }

    div.masVistas a img {
        width: 147px;
        height: 212px;
    }
    
/* FOOTER */
    /* Reducir padding costados */
    footer div.footer-arriba {
        grid-template-columns: 50% 10% 40%;
        justify-content: space-between;
    }
    /* Reducir tamaño del contenedor de redes */
    footer div.redes {
        display: flex;
        justify-content: flex-end;
        padding: 40px 0px 30px 0px;
        gap: 80px;
    }

    footer div.legales {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding: 40px 0px 30px 0px;
        gap: 70px;
    }

    div.volver-inicio {
        padding: 40px 0px 30px 0px;
    }
    
    div.volver-inicio a {
        width: 30px;
        height: 25x;
    }

}