body{
    background-color: black;
    margin: 0px;
}
/* Inicio de sesión */
    #bodyForm {
        background-image: linear-gradient(to right bottom, #2a2b2b, #212222, #191919, #0f0f0f, #000000);
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        /* background-image: linear-gradient(to bottom, #e7442e, #b73227, #88221e, #5c1414, #330801); */
    }
    #form {
        display: flex;
        align-items: center;
        flex-direction: column;
        color: white;
        width: 60%;
        padding: 0px 30px 30px 30px;
        box-sizing: border-box;
    }
    #bodyForm div {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
        padding-bottom: 20px;
        box-sizing: border-box;
    }
    #bodyForm div img {
        padding-top: 60px;
    }
    #form h3 {
        margin: 0px;
        color: white;
        font-family: Helvetica;
        font-weight: lighter;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .olvidoPassword {
        font-family: Helvetica;
        font-weight: lighter;
        text-decoration: none;
        color: #ffffff38;
        font-size: 0.9rem;
        margin: 12% 0%;
    }
    #bodyForm input::placeholder {
        color: #ffffff7c;
    }
    [name=nombre], [name=password] {
        height: 33px;
        border-radius: 4px;
        border: none;
        font-family: helvetica;
        font-weight: lighter;
        font-size: 0.9rem;
        width: 150%;
        padding: 5px 15px;
        color: white;
        background-color: #ffffff2b;
    }
    
    #form h3 .password {
        margin: 30px 0px;
    }
    .submit, .registrarse {
        display: inline-block;
        padding: 8px 19px;
        font-size: 1.1rem;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: white;
        border: none;
        border-radius: 8px;
        background-color: #e7442e;
        font-family: helvetica;
        margin-bottom: 13%;
        font-weight: lighter;
    }
    .registro {
        margin: 0px;
        font-size: 1rem;
        color: white;
        font-family: helvetica;
        text-decoration: none;
    }
    
    /* Video intro CW */
        #video {
            width: 100%;
        }


/* HEADER */
    header {
        padding-bottom: 30px;
    }
    header ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 15px;
        grid-template-areas:    "logo logo logo"
                                "inicio peliculas series"
                                "favs buscar cuenta";
        box-sizing: border-box;
        list-style-type: none;
        margin: 0px;
        padding: 0px;
    }
    header ul li {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /* Asignación área */
    #logo {
        grid-area: logo;
    }
    #inicio {
        grid-area: inicio;
    }
    #peliculas {
        grid-area: peliculas;
    }
    #series {
        grid-area: series;
    }
    #favs {
        grid-area: favs;
        color: white;
    }
    #buscar {
        grid-area: buscar;
        color: white;
    }
    #cuenta {
        grid-area: cuenta;
        color: white;
        padding-right: 12px;
    }

    /* Logo */
    #logo img {
        width: 400px;
        padding-top: 30px;
    }
    header ul li#logo {
        display: flex;
        justify-content: center;
    }

    /* Hipervínculos */
    header ul li a {
        text-decoration: none;
        font-family: Helvetica;
        font-size: 1.5rem;
        font-weight: lighter;
        color: white;
    }

    header ul li a:hover {
        color: #ffffffad;
        text-decoration: none!important;
    }

    /* Íconos */
    #favs a svg, #buscar a svg, #cuenta a svg{
        width: 31px;
    }

    /* Buscador mobile */
    .botonSearchMobile {
        width: 52px;
        background-color: transparent;
        color: white;
        border: none;
    }
    .botonSearchMobile:focus{
        outline: none;
    }
    .botonSearchMobileInputAbierto:focus{
        outline: none;
    }
    .botonSearchMobileInputAbierto {
        position: absolute;
        top: 174px;
        width: 20%;
        right: 168.5px;
        border: none;
    }
    
    #lupa svg {
        width: 30px;
    }
    
   .inputBuscadorMobile {
        position: relative;
        color: white;
        top: 66px;
        width: 200%;
        height: 30px;
        right: 76px;
        padding: 1px 11px;
        background-color: #ffffff1f;
        border: none;
        font-family: helvetica;
        font-weight: lighter;
        font-size: 1rem;
        border: none;
   }
   .inputBuscadorMobile:focus {
       outline: none;
   }

   .headerRelative {
       position: relative;
       margin-bottom: 70px;
       /* background-color: yellow */
   }

/* BANNER */
    /* Títulos */
    #titulosBanner {
        display: flex;
        flex-direction: column;
        padding-left: 3%;
    }
    #titulo-estrenos {
        color: #e7442e;
        font-size: 1rem;
        text-align: left;
        margin: 0px;
        font-weight: bold;
    } 
    #titulo-pelicula {
        text-align: left;
        font-weight: bold;
        font-size: 1.5rem;
        margin-bottom: 30px;
    }
    a.linkTituloBanner {
        text-decoration: none;
    }
    
       
/* FOOTER */
    /* Footer arriba (legales y redes) */
    article.footer-arriba {
        display: grid;
        grid-template-columns: 2fr 1fr 2fr;
        justify-content: space-between;
        padding: 0% 3% 0% 3%;
    }
        /* Legales */
        footer div.legales {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            padding: 10px 20px 0px 30px;
        }
            /* Texto hipervínculo legales */
            footer div.legales a {
                margin: 0px;
                padding: 5px;
                color: grey;
                font-size: 12px;
                font-family: Helvetica;
                text-decoration: none;
            }
        /* Redes */
        footer div.redes {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            padding: 20px 0px 10px 0px;
        }

    div.logos {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: 5px;
    }

    div.logos img {
    width: 20px;
    }
        /* Volver a arriba */
            div.volver-inicio {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 20px 0px 10px 0px;
            }

    /* Nombres alumnas */
    footer div.nombres-alumnas {
        display: flex;
        justify-content: center;
        padding: 0px 0px 20px 0px;
    }
        /* Texto hipervínculo de los nombres */
        footer div.nombres-alumnas a {
            margin: 0px;
            padding: 5px;
            color: grey;
            font-size: 12px;
            font-family: Helvetica;
            text-decoration: none;
            font-weight: bold;
        }

    hr.linea {
    color: grey;
    border-color: grey;
    margin: 0%;
    margin-top: 70px;
}

/* DESKTOP ----------------------------------------------------- */
@media only screen and (min-width: 1024px) {
    
/* Inicio sesión */
    #bodyForm {
        height: 100vh;
        display: flex;
        justify-content: center;
    }
    #form {
        width: 100%;
        margin-bottom: 80px;
    }
    #bodyForm div img  {
        width: 30%;
        padding: 0px;
    }
    div#logoCWSesion {
        padding: 80px 80px 20px 80px;
    }
    #bodyForm #form h3 {
        font-size: 1.1rem;
    }
    #bodyForm #form a {
        font-size: 1rem;
        margin: 30px 0px 20px 0px;
    }
    #bodyForm #form a:hover {
        color: rgba(255, 255, 255, 0.596);
        text-decoration: none;
    }
    #nombre, #contrasena{
        font-size: 1rem;
        padding: 6px 10px;
        width: 150%;
    }
    .submit, .registrarse {
        width: 160px;
        margin: 10px;
    }
    .submit:hover, .registrarse:hover {
        color: rgba(255, 255, 255, 0.555);
        background-color: #e7442e8c;
    }

/* HEADER */
    header {
        position: fixed;
        z-index: 1000;
        width: 100%;
    }
    header ul{
        height: 60px;
        grid-template-columns: 15% 5% 7% 5.5% 3.5% 55% 6%;
        grid-gap: 7px;
        grid-template-areas: "logo inicio peliculas series favs buscar cuenta";
        /* background-color: rgba(0, 0, 0, 0.1); */
        background-image: linear-gradient(to bottom, #000000, #ffffff00);
        padding: 0% 2%;
        align-items: center;
    }

    header ul li {
        justify-content: flex-end;
    }

    header ul li a {
        font-size: 1rem;
    }
   

    /* Logo */
    #logo img {
        width: 200px;
        padding: 0px;
    }
    /* Iconos */
    #favs a svg, #buscar a svg,#cuenta a svg{
        color: white;
        width: auto;
    }
    #cuenta a svg{
        padding-right: 12px;
    }
    #favs a svg:hover {
        color: #ffffffad;
    }
    #buscar span svg:hover {
        color: #ffffffad;
    }
    #buscar span {
        color: white
    }
    #cuenta a svg:hover {
        color: #ffffffad;
    }
    #lupa svg {
        width: 100%;
    }
 
/* BANNER */
    /* Títulos Banner */
        #titulo-estrenos{
            font-size: 1.5rem;
        } 
        #titulo-pelicula {
            font-size: 2.5rem;
        }

/* Tamaño carruseles */
    #trendingMovies, #trendingTV, #criticaMovies, #criticaTV, #recomendadasMovies, #recomendadasTV {
        width: 50vw;    
    }

h3.titulosGeneros {
    color: white;
    margin: 0px;
    margin-top: 40px;
    margin-left: 10px;
    margin-bottom: 10px;
}

    
/* FOOTER */
    article.footer-arriba {
        grid-template-columns: 50% 10% 40%;
        justify-content: space-between;
        margin-top: 10px;
    }
    
    
    /* Reducir tamaño del contenedor de redes */
    footer div.redes {
        display: flex;
        justify-content: flex-end;
        padding: 20px 0px 10px 0px;
        gap: 70px;
    }

    .iconsRedes:hover {
        color: red;
    }
    div.nombres-alumnas {
        padding: 20px 0px 20px 0px;
    }

    footer div.legales {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 0px;
    }

    div.volver-inicio {
        padding: 10px 0px 30px 0px;
        margin-right: 70px;
    }
    
    div.logos {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 70px;
    }

    div.logos img {
    width: 35px;
    }

    
/* Buscador */
    .buscador {
        width: 400px;
        display: flex;
        justify-content: flex-end;
    }

    .botonSearchDesktop {
        position: absolute;
        background-color: transparent;
        border: none;
        top: 20px;
    }

    .inputBuscadorDesktop {
        margin-right: 33px;
        width: 343px;
        background-color: #ffffff26;
        border: none;
        height: 27px;
        padding: 0px 12px;
        font-family: Helvetica;
        font-size: 0.9rem;
        font-weight: lighter;
        color: white;
    }
    .inputBuscadorDesktop:focus, textarea:focus, select:focus, button:focus{
        outline: none;
    }

    #lupa {
        size: 30px;
    }
}