body{
    background-color: black;
    margin: 0px;
}
/* Inicio de sesión */
    #bodyForm {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        background-color: black;
        /* background-image: linear-gradient(to bottom, #e7442e, #b73227, #88221e, #5c1414, #330801); */
    }
    #form {
        display: flex;
        align-items: center;
        flex-direction: column;
        color: white;
        width: 60%;
        padding: 0px 30px 30px 30px;
    }
    #bodyForm div {
        background-image: linear-gradient(to bottom, #000000, #ffffff00);
        height: 27vh;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
    }
    #bodyForm div img {
        padding-top: 60px;
    }
    #form h3 {
        margin: 0px;
        color: white;
        font-family: Helvetica;
        font-weight: lighter;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #form a {
        font-family: Helvetica;
        font-weight: lighter;
        text-decoration: none;
        color: #e7442e;
        font-size: 1.2rem;
        margin-bottom: 12%;
    }
    [name=email], [name=password] {
        padding: 8px;
        margin-top: 5px;
        width: 90%;
        font-family: Helvetica;
        border: 1px solid white;
        background-color: #ffffff1f;
        font-size: 1.3rem;
        color: white;
    }
    #form h3.password {
        margin: 30px 0px;
    }
    .submit, .registrarse {
        display: inline-block;
        padding: 8px 19px;
        font-size: 1.2rem;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: black;
        border: none;
        border-radius: 8px;
        background-color: #ffffffa8;
        font-family: helvetica;
        margin-bottom: 13%;
        font-weight: lighter;

    }
    .submit:hover, .registrarse:hover {
        color: white;
        background-color: #e7442e;
    }
    
/* Video intro CW */
    #video {
        width: 100%;
    }


/* HEADER */
    header {
        padding-bottom: 30px;
    }
    header ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 15px;
        grid-template-areas:    "logo logo logo"
                                "inicio peliculas series"
                                "favs buscar cuenta";
        box-sizing: border-box;
        list-style-type: none;
        margin: 0px;
        padding: 0px;
    }
    header ul li {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /* Asignación área */
    #logo {
        grid-area: logo;
    }
    #inicio {
        grid-area: inicio;
    }
    #peliculas {
        grid-area: peliculas;
    }
    #series {
        grid-area: series;
    }
    #favs {
        grid-area: favs;
        color: white;
    }
    #buscar {
        grid-area: buscar;
        color: white;
    }
    #cuenta {
        grid-area: cuenta;
        color: white;
        padding-right: 12px;
    }

    /* Logo */
    #logo img {
        width: 400px;
        padding-top: 30px;
    }
    header ul li#logo {
        display: flex;
        justify-content: center;
    }

    /* Hipervínculos */
    header ul li a {
        text-decoration: none;
        font-family: Helvetica;
        font-size: 1.5rem;
        font-weight: lighter;
        color: white;
    }

    /* Íconos */
    #favs a svg, #buscar a svg, #cuenta a svg{
        width: 31px;
    }


/* BANNER */
    /* Flechitas */
    a#flechita {
        color: white;
        font-weight: bold;
    }
    /* Títulos */
    #titulosBanner {
        display: flex;
        flex-direction: column;
        padding-left: 3%;
    }
    #titulo-estrenos {
        color: #e7442e;
        font-size: 1rem;
        text-align: left;
        margin: 0px;
        font-weight: bold;
    } 
    #titulo-pelicula {
        text-align: left;
        font-weight: bold;
        font-size: 1.5rem;
    }
    a.linkTituloBanner {
        text-decoration: none;
    }





    
       
/* FOOTER */
    /* Footer arriba (legales y redes) */
    footer div.footer-arriba {
        display: grid;
        grid-template-columns: 2fr 1fr 2fr;
        justify-content: space-between;
        padding: 0% 3% 0% 3%;
    }
        /* Legales */
        footer div.legales {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            padding: 30px 0px 20px 0px;
        }
            /* Texto hipervínculo legales */
            footer div.legales a {
                margin: 0px;
                padding: 5px;
                color: grey;
                font-size: 12px;
                font-family: Helvetica;
                text-decoration: none;
            }
        /* Redes */
        footer div.redes {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            padding: 30px 0px 20px 0px;
        }
    
        /* Volver a arriba */
            div.volver-inicio {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 30px 0px 20px 0px;
            }

            div.volver-inicio a img {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 25px;
                height: 20x;
            }
    /* Nombres alumnas */
    footer div.nombres-alumnas {
        display: flex;
        justify-content: center;
        padding: 0px 0px 30px 0px;
    }
        /* Texto hipervínculo de los nombres */
        footer div.nombres-alumnas a {
            margin: 0px;
            padding: 5px;
            color: grey;
            font-size: 12px;
            font-family: Helvetica;
            text-decoration: none;
            font-weight: bold;
        }

/* DESKTOP ----------------------------------------------------- */
@media only screen and (min-width: 1024px) {
    
/* Inicio sesión */
    #form {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 7px;
        grid-template-areas:    "email email password password"
                                "submit registrarse a a"
                                "olvide";
        width: 100%;
    }
    div.logoCWSesion img {
        width: 30%;
        padding: 0px;
    }
    div.logoCWSesion {
        display: flex;
        width: 100%;
        align-items: center;
    }

    .email {
        grid-area: email;
    }
    .password{
        grid-area: password;
    }
    .submit {
        grid-area: submit;
    }
    .registrarse{
        grid-area: registrarse;
    }
    .olvidoPassword {
        grid-area: olvide;
    }
    
/* HEADER */
    header {
        position: fixed;
        z-index: 1000;
        width: 100%;
    }
    header ul{
        height: 60px;
        grid-template-columns: 15% 5% 7% 5.5% 3.5% 55% 6%;
        grid-gap: 7px;
        grid-template-areas: "logo inicio peliculas series favs buscar cuenta";
        /* background-color: rgba(0, 0, 0, 0.1); */
        background-image: linear-gradient(to bottom, #000000, #ffffff00);
        padding: 0% 2%;
        align-items: center;
    }

    header ul li {
        justify-content: flex-end;
    }

    header ul li a {
        font-size: 1rem;
    }

    /* Logo */
    #logo img {
        width: 200px;
        padding: 0px;
    }
    /* Iconos */
    #favs a svg, #buscar a svg,#cuenta a svg{
        color: white;
        width: auto;
    }
    #cuenta a svg{
        padding-right: 12px;
    }

 
/* BANNER */
    /* Títulos Banner */
        #titulo-estrenos{
            font-size: 2rem;
        } 
        #titulo-pelicula {
            font-size: 3rem;
        }


/* Trending */
    .trending {
        display: grid;
        /*grid-template-columns: ;*/
    }
    
/* Tamaño carruseles */
    #trendingMovies, #trendingTV, #criticaMovies, #criticaTV, #recomendadasMovies, #recomendadasTV {
        width: 50vw;    
    }









    
/* FOOTER */
    /* Reducir padding costados */
    footer div.footer-arriba {
        grid-template-columns: 50% 10% 40%;
        justify-content: space-between;
    }
    /* Reducir tamaño del contenedor de redes */
    footer div.redes {
        display: flex;
        justify-content: flex-end;
        padding: 40px 0px 30px 0px;
        gap: 80px;
    }

    footer div.legales {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding: 40px 0px 30px 0px;
        gap: 70px;
    }

    div.volver-inicio {
        padding: 40px 0px 30px 0px;
    }
    
    div.volver-inicio a {
        width: 30px;
        height: 25x;
    }

}