body{
    background-color: black;
    margin: 0px;
}

/* HEADER */
    header {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        }
    /* Logo */
    header div.logo img {
        display: flex;
        width: 100%;
        justify-content: center;
    }
    
    /* Menú */
    header div.menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-top: 5px;
        background-color: rgb(36, 35, 35);
        gap:10px;
        justify-content: center;
        flex-wrap: wrap;
    }
        /* Menú arriba */
        header div.menu div.menu-arriba {
            display: flex;
            justify-content: center;
            gap: 40px;
            margin: 5px;
        }
            /* Textos menú arriba (alinear con iconos y cambiar color) */
            header div.menu div.menu-arriba span a {
                color: white;
                font-family: Helvetica;
                text-decoration: none;
                align-items: center;
                gap: 5px;
                display: flex;
            }
            /* Tamaño iconos */
            header div.menu div.menu-arriba span img {
                width: 25px;
            }
            /* Ocultar barra buscadora */
            header div.menu div.menu-arriba span.buscar div.barra-buscadora {
                display: none;
            }

        /* Menú abajo*/
        header div.menu div.menu-abajo {
            display: flex;
            justify-content: space-around;
            font-size: 30px;
            padding-bottom: 5px;
        }
            /* Color textos abajo */
            header div.menu div.menu-abajo span.estrenos a, div.menu div.menu-abajo span.peliculas a, div.menu div.menu-abajo span.series a {
                font-family: Bebas Neue;
                color: #e7442e;
                text-decoration: none;
            }

/* BANNER (no mostrar en mobile) */
div.banner img {
    display: none;
}

/* FOOTER */
    /* Footer arriba (legales y redes) */
    footer div.footer-arriba {
        display: grid;
        grid-template-columns: 150px 262px;
    }
        /* Legales */
        footer div.legales {
            display: flex;
            flex-direction: column;
            color: grey;
            justify-content: space-evenly;
            padding: 50px 0px 20px 0px;
        }
            /* Texto hipervínculo legales */
            footer div.legales a {
                margin: 0px;
                padding: 5px;
                color: grey;
                font-size: 12px;
                font-family: Helvetica;
                text-decoration: none;
            }
        /* Redes */
        footer div.redes {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            padding: 50px 10px 20px 10px;
        }
            /* Tamaño iconos redes */   
            footer div.redes img {
                width: 25px;
            }
    
    /* Nombres alumnas */
    footer div.nombres-alumnas {
        display: flex;
        justify-content: center;
    }
        /* Texto hipervínculo de los nombres */
        footer div.nombres-alumnas a {
            margin: 0px;
            padding: 5px;
            color: grey;
            font-size: 12px;
            font-family: Helvetica;
            text-decoration: none;
            font-weight: bold;
        }

/* DESKTOP */
@media only screen and (min-width: 1024px) {
    /* HEADER */
    header {
        width: 100%;
        flex-wrap: wrap;
    }
    /* Logo */
    header div.logo {
        width: 20%;
    }
    
    /* Menú */
    header div.menu {
        width: 80%;
        padding: 0px;
        gap: 0px;
        justify-content: flex-end;
        background-color: transparent;
        flex-direction: column-reverse;

    }
        /* Menú arriba */
        header div.menu div.menu-arriba {
            width: 54%;
            flex-wrap: wrap;
            justify-content: flex-start;
            gap: 15px;
        }
            /* Ordenar elementos: inicio, buscar, cuenta -> buscar, inicio, cuenta */
            header div.menu div.menu-arriba span.buscar {
                order: -1;
                display: flex;
                gap: 10px;
                align-items: center;
            }
            /* Barra buscadora */
            header div.menu div.menu-arriba span.buscar div.barra-buscadora {
                display: flex;
                width: 170px;
                height: 17px;
                border: 1px solid white;
            }

        /* Menú abajo*/
        header div.menu div.menu-abajo {
            width: 46%;
            justify-content: flex-start;
            font-size: 25px;
            gap: 20px;
            padding: 15px 0px 0px 15px;
        }
            /* Color textos series, películas y estrenos */
            header div.menu div.menu-abajo span.estrenos a, div.menu div.menu-abajo span.peliculas a, div.menu div.menu-abajo span.series a {
                color: white;
            }
}
            