body{
    background-color: black;
}

/* HEADER */
    header {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 7px;
        grid-template-areas:
            "logo logo logo"
            "inicio buscar cuenta"
            "estrenos peliculas series";
        padding-bottom: 5px 0px;
        box-sizing: border-box;
        background-color: #1d1d1d;
    }
    
    #logo a img {
        width: 100%;
    }
    
    /* Establecer area grid */
    #logo {
        grid-area: logo;
        background-color: #0f0f0f;
    }
    #inicio {
        grid-area: inicio;
    }
    #buscar {
        grid-area: buscar;
    }
    #cuenta {
        grid-area: cuenta;
    }
    #peliculas {
        grid-area: peliculas;
        padding-left: 6vw;
    } 
    #series {
        grid-area: series;
        padding-left: 2vw;
    }
    #estrenos {
        grid-area: estrenos;
        padding-left: 5vw;
    }
    
    /* Texto hipervínculos */
    #logo a, #inicio a, #buscar a, #cuenta a, #peliculas a, #series a, #estrenos a {
        color: white;
        text-decoration: none;
        display: flex;
        flex-flow: wrap;
        align-items: center;
        justify-content: center;
        font-family: Helvetica;
        font-size: 1.2rem;
        padding: 0px 5px 0px 5px;  
    }
    #peliculas a, #series a, #estrenos a {
        font-family: Bebas Neue;
        color: red;
        font-size: 2rem;
    }

    /* Iconos menú */
    header div img {
        width: 30px;
        padding: 5px 5px 5px 0px;
    }
    header div#buscar img {
        padding-top: 7px;
    }

    #peliculas, #series, #estrenos {
        padding-bottom: 8px;
    }
    /* Ocultar barra buscadora */
    header div#buscar .uk-search-default {
        display: none;
    }

    
/* BANNER (no mostrar en mobile) */
div.banner img {
    display: none;
}

/* LISTAS (no mostrar en mobile) */
div.misListas {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
    /* Título "Mis listas" */
    div.misListas h2 {
        display: flex;
        width: 100%;
        justify-content: center;
        font-family: Helvetica;
        color: white;
        font-size: 20px;
        margin: 30px 0px 15px 0px;
    }
    /* Contenedor de listas */
    div.misListas div.listas {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        padding: 0px 15px 15px 15px;
        justify-content: space-around; 
        align-items: center;   
    }
    /* Contenedor de cada lista */
    div.misListas div.listas a {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        text-decoration: none;
    }
    /* Tamaño imágenes listas */
    div.misListas div.listas a img {
        width: 140px;
        margin: 0px;
    }
    /* Títulos de listas */
    div.misListas div.listas a h5 {
        margin: 0px 0px 20px 0px ;
        padding-top: 5px;
        font-size: 15px;
        font-family: Helvetica;
        color: rgb(209, 209, 209);
        font-weight: lighter;
    }
    /* Crear nueva lista */
    div.misListas div.listas a.crearNuevaLista {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 60%;
    }
        /* Imagen "+" */
        div.misListas div.listas a.crearNuevaLista img {
            width: 30px;
        }
        /* Texto */
        div.misListas div.listas a.crearNuevaLista h5 {
            margin: 0px;
            padding: 5px;
        }

/* MÁS VISTAS */
        /* Título "Más vistas" */
        div.masVistas h2.tituloMasVistas {
            display: flex;
            width: 100%;
            justify-content: center;
            font-family: Helvetica;
            color: white;
            font-size: 20px;
            margin: 30px 0px 0px 0px;
        }
        /* Título "Películas" y "Series"*/
        div.masVistas h3{
            margin-bottom: 0px;
            padding-left: 15px;
            font-size: 18px;
            font-family: Helvetica;
            text-align: left;
            color: rgb(209, 209, 209);  
        }
        /* Contenedor todas las películas y contenedor de todas las series */
        div.masVistas div.peliculas, div.masVistas div.series {
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            justify-content: center;
            gap: 10px;
        }
        /* Contenedor de cada película y de cada serie */
        div.masVistas div.peliculas a, div.masVistas div.series a {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            text-decoration: none;
        }
        /* Imágenes películas y series */
        div.masVistas a img {
            width: 118px;
            height: 175px;
            padding: 5px 0px 5px 0px;
        }
       
/* FOOTER */
    /* Footer arriba (legales y redes) */
    footer div.footer-arriba {
        display: grid;
        grid-template-columns: 2fr 1fr 2fr;
        justify-content: space-between;
        padding: 0% 3% 0% 3%;
    }
        /* Legales */
        footer div.legales {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            padding: 30px 0px 20px 0px;
        }
            /* Texto hipervínculo legales */
            footer div.legales a {
                margin: 0px;
                padding: 5px;
                color: grey;
                font-size: 12px;
                font-family: Helvetica;
                text-decoration: none;
            }
        /* Redes */
        footer div.redes {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            padding: 30px 0px 20px 0px;
        }
            /* Tamaño iconos redes */   
            footer div.redes img {
                width: 25px;
            }
    
            div.volver-inicio {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 30px 0px 20px 0px;
            }

            div.volver-inicio a img {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 25px;
                height: 20x;
            }
    

    /* Nombres alumnas */
    footer div.nombres-alumnas {
        display: flex;
        justify-content: center;
        padding: 0px 0px 30px 0px;
    }
        /* Texto hipervínculo de los nombres */
        footer div.nombres-alumnas a {
            margin: 0px;
            padding: 5px;
            color: grey;
            font-size: 12px;
            font-family: Helvetica;
            text-decoration: none;
            font-weight: bold;
        }

/* DESKTOP ----------------------------------------------------- */
@media only screen and (min-width: 1024px) {
/* HEADER */
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px;
        background-color: transparent;
    }

    #logo {
        width: 20%;
        background-color: transparent;
    }
    #logo a {
        padding: 0px;
    }
    #logo a img {
        padding: 0px;
    }

    /* Texto hipervínculos */
    #logo a, #inicio a, #buscar a, #cuenta a, #peliculas a, #series a, #estrenos a {
        color: white;
        font-family: Helvetica;
        font-size: 1rem;

    }
    /* Iconos menú */
    header div img {
        width: 25px;
        padding: 5px 0px 5px 0px;
        margin-right: 5px;
    }

    /* Mostrar barra buscadora */
    header div#buscar .uk-search-default {
        display: flex;
        width: 11rem;
    }
    header div#buscar .uk-search-input {
        border: 0.5px solid rgba(255, 255, 255, 0.76);
    }
    
    #buscar {
        width: 23vw;
        display: flex;
        justify-content: center;
        padding-left: 1vw;
    }
    
    #buscar a span {
        display: none;
    }
    
    #peliculas, #series, #estrenos {
        padding-bottom: 0px;
        padding-left: 0px;
    }
    #estrenos {
        padding-left: 5.5vw;
    }

    #cuenta {
        padding-right: 2vw;
    }

 
/* BANNER */
div.banner {
    width: 100%;
}
div.banner img {
    display: flex;
    width: 100%;
}

/* CARRUSEL */

div.carrusel {
    padding: 15px;
}

div.carrusel ul#holi {
    gap: 25px;
}
/* preguntar como modificar librerias tienen class largos, como modif las flechitas */
div.carrusel ul#holi a.uk-slidenav {
    color: white;
}

div.misListas {
    
    display: flex;
    flex-wrap: wrap;
}

div.misListas h3 {
    font-family: Helvetica;
    color: white;
    font-size: 30px;
}

/* LISTAS */
    /* Título "Mis listas" */
    div.misListas h2.tituloMisListas {
        justify-content: flex-start;
        padding-left: 54px;
        font-size: 30px;
    }
    /* Tamaño imágenes listas */
    div.misListas div.listas a img {
        width: 180px;
    }

    /* MEJORES CALIFICADAS */

    div.mejoresCalificadas {
        display: grid;
        grid-template-rows: 1fr 5fr;

    }

    div.mejoresCalificadas h2 {
        margin: 0px;
        font-family: Helvetica;
        color: white;
        font-size: 30px;
        padding: 20px;
        padding-left: 54px;
    }

    div.mejoresCalificadas .pelisyseries {
        display: grid;
        grid-template-columns: 50% 50%;

    }

    div.mejoresCalificadas .pelisyseries a {
        padding: 10px;
    }

    div.mejoresCalificadas .pelisyseries img {
        width: 70px;
    }

    div.mejoresCalificadas .pelisyseries h4 {
        font-size: 14px;
        width: 121px;
    }

    div.mejoresCalificadas .pelisyseries .califPelis {
        display: flex;
        flex-wrap: wrap;
        margin: 8px;
        /* background-color: rgba(255, 255, 255, 0.185); */
    }

    div.mejoresCalificadas .pelisyseries .califPelis h2 {
        width: 100%;
        font-size: 20px;
        text-align: center;
    }

    div.mejoresCalificadas .pelisyseries .califSeries {
        display: flex;
        flex-wrap: wrap;
        margin: 8px;
        /* background-color: rgba(255, 255, 255, 0.185); */
    }

    div.mejoresCalificadas .pelisyseries .califSeries h2 {
        width: 100%;
        font-size: 20px;
        text-align: center;
    }

/* MÁS VISTAS */
    div.masVistas h2.tituloMasVistas {
        justify-content: flex-start;
        padding: 0px 0px 10px 40px;
    }

    div.masVistas div.peliculas, div.masVistas div.series {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 5px 0px 5px 0px;
    }

    div.masVistas a img {
        width: 147px;
        height: 212px;
    }
    
/* FOOTER */
    /* Reducir padding costados */
    footer div.footer-arriba {
        grid-template-columns: 50% 10% 40%;
        justify-content: space-between;
    }
    /* Reducir tamaño del contenedor de redes */
    footer div.redes {
        display: flex;
        justify-content: flex-end;
        padding: 40px 0px 30px 0px;
        gap: 80px;
    }

    footer div.legales {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding: 40px 0px 30px 0px;
        gap: 70px;
    }

    div.volver-inicio {
        padding: 40px 0px 30px 0px;
    }
    
    div.volver-inicio a img {
        width: 30px;
        height: 25x;
    }

}