body {
    margin: 0px;
    background-color: #0f0f0f;
}
/* HEADER */
    header {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 7px;
        grid-template-areas:
            "logo logo logo"
            "inicio buscar cuenta"
            "estrenos peliculas series";
        padding-bottom: 5px 0px;
        box-sizing: border-box;
        background-color: #1d1d1d;
    }
    
    #logo a img {
        width: 100%;
    }
    
    /* Establecer area grid */
    #logo {
        grid-area: logo;
        background-color: #0f0f0f;
    }
    #inicio {
        grid-area: inicio;
    }
    #buscar {
        grid-area: buscar;
    }
    #cuenta {
        grid-area: cuenta;
    }
    #peliculas {
        grid-area: peliculas;
        padding-left: 6vw;
    } 
    #series {
        grid-area: series;
        padding-left: 2vw;
    }
    #estrenos {
        grid-area: estrenos;
        padding-left: 5vw;
    }
    
    /* Texto hipervínculos */
    #logo a, #inicio a, #buscar a, #cuenta a, #peliculas a, #series a, #estrenos a {
        color: white;
        text-decoration: none;
        display: flex;
        flex-flow: wrap;
        align-items: center;
        justify-content: center;
        font-family: Helvetica;
        font-size: 1.2rem;
        padding: 0px 5px 0px 5px;  
    }
    #peliculas a, #series a, #estrenos a {
        font-family: Bebas Neue;
        color: red;
        font-size: 2rem;
    }

    /* Iconos menú */
    header div img {
        width: 30px;
        padding: 5px 5px 5px 0px;
    }

    #peliculas, #series, #estrenos {
        padding-bottom: 8px;
    }
    /* Ocultar barra buscadora */
    header div#buscar div#barraBuscadora {
        display: none;
    }



/* DESKTOP ----------------------------------------------------- */
@media only screen and (min-width: 1024px) {
/* HEADER */
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px;
        background-color: transparent;
    }

    #logo {
        width: 20%;
        background-color: transparent;
    }
    #logo a {
        padding: 0px;
    }
    #logo a img {
        padding: 0px;
    }

    /* Texto hipervínculos */
    #logo a, #inicio a, #buscar a, #cuenta a, #peliculas a, #series a, #estrenos a {
        color: white;
        font-family: Helvetica;
        font-size: 1rem;

    }
    /* Iconos menú */
    header div img {
        width: 25px;
    }

    /* Mostrar barra buscadora */
    header div#buscar div#barraBuscadora {
        display: flex;
        width: 13vw;
        height: 15px;
        border: 1px solid white;
    }
    
    #buscar {
        width: 23vw;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 1vw;
    }
    #buscar a {
        padding-right: 15px;
    }

    #peliculas, #series, #estrenos {
        padding-bottom: 0px;
        padding-left: 0px;
    }
    #estrenos {
        padding-left: 5.5vw;
    }

    #cuenta {
        padding-right: 2vw;
    }
}