body{
    background-color: #111111;


}

.logo img {
    width: 405px;
}

nav.nav {
    display: flex;
    flex-direction: column;
    font-family: Helvetica;
    padding-top: 5px;
    background-color: rgb(36, 35, 35);
    gap:10px;
}

    nav.nav div.navarriba {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: 16px;
    }
    
    nav.nav div.navarriba a {
        color: white;
        text-decoration: none;
        display: flex;
        height: 25px;
        align-items: center;
        gap: 5px;
    }
    
    nav.nav div.navarriba div img {
        width: 25px;
    }
    
    nav.nav div.navabajo {
        display: flex;
        justify-content: space-around;
        font-size: 30px;
        padding-bottom: 5px;
    }
    
    nav.nav div.navabajo div a {
        font-family: Bebas Neue;
        color: #e7442e;
        text-decoration: none;
    }

div.titulo {
    width: 100%;
}

div.titulo h2 {
    display: flex;
    color: #e7442e;
    font-weight: bold;
    justify-content: center;
    padding: 10px;
    font-family: Bebas Neue;
}

div.detalle {
    display: grid;
    grid-template-columns: 150px 262px;
}

.detalle img{
    width: 150px;
}

div.detalle div.texto {
    display: grid;
    grid-template-rows: auto
}

div.detalle div.texto div.titulopelicula {
    display: flex;
    color: grey;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px 0px 5px 5px;
    font-family: Helvetica; 
}

div.detalle div.texto div.titulopelicula h3 {
    margin: 0px;
}

div.detalle div.texto div.resumen {
    display: flex;
    color: grey;
    justify-content: center;
    align-items: flex-start;
    font-size: 13px;
    padding: 5px;

}

p {
    margin: 0px;
    font-family: Helvetica;
}

.nav2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.nav2 .izquierda {
    display: flex;
    flex-direction: column;
    padding: 0px;
    justify-content: space-around;
}

.nav2 .izquierda img {
    width: 12px;
}

.nav2 .izquierda a {
    color: grey;
    padding: 5px;
    font-size: 12px;
    text-decoration: none;
    font-family: helvetica;

}

.nav2 .derecha {
    display: none;
}

.trailer2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    width: 405px;
    height: 230px;
}

.trailer2 p {
    font-size: 40px;
}

.categorias {
    display: grid;
    grid-template-rows: auto;
}

.categorias .accion {
    display: flex;
    flex-direction: column;
}

.titulos {
    display: flex;
    justify-content: left;
    color: white;
    padding-left: 15px;
    font-family: Helvetica;
}

.titulos h3 {
    margin-bottom: 0px;
}

.portadas img {
    width: 100px;
    padding: 5px 0px 5px 0px;
}

.portadas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5px;
    gap: 10px;

}

.piedepagina {
    display: grid;
    grid-template-columns: 150px 262px;
}

.piedepagina .legales {
    display: flex;
    flex-direction: column;
    color: grey;
    justify-content: space-evenly;
    padding: 50px 0px 20px 0px;
}

.piedepagina .legales a {
    margin: 0px;
    padding: 5px;
    color: grey;
    font-size: 12px;
    font-family: Helvetica;
    text-decoration: none;

}

.piedepagina .redes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px 10px 20px 10px;
}

.redes img {
    width: 25px;
}

@media (min-width: 1024px) {
    div.titulo h2 {
        display: flex;
        color: #e7442e;
        font-weight: bold;
        justify-content: center;
        padding: 25px;
        font-family: Bebas Neue;
        font-size: 70px;
        margin: 0px;
    }

    div.detalle {
        display: grid;
        grid-template-columns: 300px 707px;
    }
    
    .detalle .poster img {
        width: 300px;
    }

    div.detalle div.texto {
        display: grid;
        grid-template-rows: 50px 100px 295px;
    }

    div.detalle div.texto div.titulopelicula {
        display: flex;
        color: grey;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0px 0px 5px 5px;
        font-family: Helvetica; 
    }
    
    div.detalle div.texto div.titulopelicula h3 {
        margin: 0px;
        font-size: 25px;
    }
    
    div.detalle div.texto div.resumen {
        display: flex;
        color: grey;
        justify-content: center;
        align-items: flex-start;
        font-size: 17px;
        padding: 10px;
    
    }
    
    p {
        margin: 0px;
        font-family: Helvetica;
    }

    .nav2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .nav2 .izquierda {
        display: flex;
        flex-direction: column;
        padding: 10px;
        justify-content: space-around;
    }
    
    .nav2 .izquierda img {
        width: 19px;
    }
    
    .nav2 .izquierda a {
        color: grey;
        padding: 5px;
        font-size: 25px;
        text-decoration: none;
        font-family: helvetica;
    
    }

    .nav2 .derecha { 
        display: flex
    }

    
    .nav2 .derecha .trailer1{
        background-color: red;
        width: 350px;
        height: 50px;
    }

    .trailer2 {
        display: none;
    }
    
    .piedepagina {
        display: grid;
        grid-template-columns: 703px 300px;
    }
    
    .piedepagina .legales {
        display: flex;
        flex-direction: row;
        color: grey;
        justify-content: space-evenly;
        padding: 50px 0px 20px 0px;
    }
    
    .piedepagina .legales a {
        margin: 0px;
        padding: 5px;
        color: grey;
        font-size: 12px;
        font-family: Helvetica;
        text-decoration: none;
    
    }
    
    .piedepagina .redes {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 50px 10px 20px 10px;
    }
    
    .redes img {
        width: 25px;
    }
    
}