body{
    background-color: #070707;


}

.logo img {
    width: 405px;
    }

.nav { 
    display: grid;
    grid-template-rows: auto;
    
}

.nav a {
    color: #444444;
}
div.titulo {
    width: 100%;
}

div.titulo p {
    display: flex;
    color: rgb(141, 23, 23);
    font-size: 30px;
    font-weight: bold;
    justify-content: center;
}

.detalle img{
    width: 150px;
}

div.detalle {
    display: grid;
    grid-template-columns: 150px 270px;

}

div.detalle div.texto div.titulopelicula {
    display: flex;
    width: 270px;
    height: 50px;
    color: grey;
    justify-content: start;
    font-size: 20px;
    padding: 10px;
}