body{
    background-color: #111111;
}


header img.logo{
    width: 405px;
}

article.encabezado{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav.header_nav {
    display: flex;
    flex-direction: column;
    font-family: Helvetica;
    padding-top: 5px;
    background-color: rgb(36, 35, 35);
    gap:10px;
}

div.iconos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 16px;
}

div.iconos a {
    color: white;
    text-decoration: none;
    display: flex;
    height: 25px;
    align-items: center;
    gap: 5px;
}

img.icono {
    width: 25px;
}

div.listado {
    display: flex;
    justify-content: space-around;
    padding-bottom: 5px;
}

nav.header_nav div.listado a {
    font-family: Bebas Neue;
    color: #e7442e;
    font-size: 30px;
    text-decoration: none;
}

.listas {
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    justify-content: space-around;
    gap: 8px;
}

img.portada{
    width: 118px;
    height: 175px;
    border: 1px solid white;   
}

h2.titulo{
    color: #e7442e;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    padding: 10px;
    font-family: Bebas Neue;
}

h3{
    color: white;
    text-align: left;
    font-size: 20px;
    font-family: Helvetica;
}

.footer{
    display: grid;
    grid-template-columns: 170px 250px;
    margin-top: 30px;
    padding: 5px;
}

div.piedepagina {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

div.piedepagina a {
    color: grey;
    font-size: 12px;
    text-decoration: none;
    font-family: Helvetica;
    padding: 2px;
}

div.redes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; 
}

img.red {
    width: 25px;
}


div.autores {
    color: grey;
    font-size: 12px;
}


/*Desktop*/
@media only screen and (min-width:1024px){
    header img.logo{
        width: 300px;
        display: flex;
        width: 100%;
        justify-content: left;
    }

    article.encabezado{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
    }

    nav.header_nav{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
    }

    img.portada{
        width: 140px;
        height: 195px;
        border: 1px solid white;   
    }
    
    .footer{
        display: grid;
        grid-template-columns: 415px 609px;
        margin-top: 30px;
        padding: 5px;
    }

    h2.titulo{
        color: white;
        text-align: left;
        font-size: 22px;
        margin-top: 35px;
    }

    h3{
        color: white;
        text-align: left;
        font-size: 20px;
        margin-top: 35px;
    }

    img.red {
        width: 50px;
        height: 50px;
    }

    div.redes {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 10px;
        
    }

    div.piedepagina {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }

}